.env
__pycache__
*.pyc
.terraform
terraform.tfstate
terraform.tfstate.backup
venv/
.idea/
.DS_Store
*.log
*.bak
*.tmp
*.swp
*.swo
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.egg
*.egg-info/
coverage/
htmlcov/
*.coverage
.coverage.*
.cache/
.pytest_cache/
.mypy_cache/
.pyre/
node_modules/